
.header {
  background-color: #3498db;
  color: white;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  @media (max-width: 768px) { justify-content: center; }

  .logo {
    font-size: 24px;
    font-weight: 700;
  }

  .nav {
    @media (max-width: 768px) { display: none; }
    a {
      color: white;
      margin: 0 10px;
      text-decoration: none;
      font-weight: 600;
    }
  }
}
