.panel {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  @media (max-width: 768px) { padding: 10px; }

  .toolbar {
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    margin-bottom: 20px;
    @media (max-width: 768px) {
      justify-content: space-between;
      flex-wrap: wrap;
    }

    button {
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      font-weight: 600;
      color: white;
      cursor: pointer;
      background-color: #3498db;
      transition: background-color 0.3s, transform 0.3s;
      &:hover {
        background-color: #2980b9;
        transform: translateY(-2px);
      }
      @media (max-width: 768px) { flex-grow: 1; }
    }
  }

  .projectCard {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    @media (max-width: 768px) { padding: 10px; }

    h2 {
      margin: 0 0 10px 0;
      color: #2c3e50;
    }

    p {
      margin: 0 0 20px 0;
      color: #7f8c8d;
      font-weight: 600;
    }
    .actions button {
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      margin-right: 10px;
      font-weight: 600;
      color: white;
      cursor: pointer;
      transition: opacity 0.3s, transform 0.3s;
      &:hover {
        opacity: 0.8;
        transform: translateY(-2px);
      }
      @media (max-width: 768px) { padding: 5px 10px; }
      &.start { background-color: #2ecc71; }
      &.stop { background-color: #e74c3c; }
      &.restart { background-color: #f1c40f; }
    }
  }

  .logsArea {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex: 1;
    overflow-y: auto;
    @media (max-width: 768px) { padding: 10px; }

    h3 {
      margin: 0 0 10px 0;
      color: #333333;
    }

    pre {
      white-space: pre-wrap;
      word-wrap: break-word;
      color: #777777;
      background-color: #f0f0f0;
      padding: 10px;
      border-radius: 5px;
    }
  }
}
