
.sidebar {
  width: 250px;
  background-color: #ffffff;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  position: sticky;
  height: 100vh;
  top: 0;
  @media (max-width: 768px) {
    width: auto;
    box-shadow: none;
  }

  .projects {
    margin-top: 20px;

    .project {
      display: flex;
      align-items: center;
      padding: 10px;
      margin-bottom: 10px;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s, transform 0.3s;
      background-color: #ecf0f1;
      &:hover {
        background-color: #dcdde1;
        transform: translateX(2px);
      }

      .status {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        margin-right: 10px;
      }

      .deleteIcon {
        opacity: 0;
        color: #f44336;
        font-size: 16px;
        margin-left: auto;
        cursor: pointer;
        transition: opacity 0.3s, transform 0.5s, color 0.3s;
      }
      &:hover .deleteIcon {
        opacity: 1;
        @keyframes shake {
          70% { transform: scale(1.21); }
          100% { transform: scale(1.12); }
        }
        &:hover {
          color: #d32f2f;
          animation: shake 0.3s forwards;
        }
      }
    }
  }

  .addProject {
    color: white;
    padding: 10px;
    text-align: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    margin-top: 20px;
    background-color: #3498db;
    transition: background-color 0.3s, transform 0.3s;
    &:hover {
      background-color: #2980b9;
      transform: translateY(-2px);
    }
  }
}
